.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgb(16, 28, 106) !important;
}

.btn-primary {
  --bs-bg-opacity: 1;
  background-color: rgb(16, 28, 106) !important;
}

.brand-title, .last_ones {
  color : #dc3545;
}

.model-title {
  color : black;
}

.bi-info-circle{
  color : black;
}

p {
  font-size:smaller;
}

.card-footer-text{
  color : white !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color : #dc3545 !important;
}

/* background-color: rgb(123, 123, 123) !important; */

/* #carouselExampleDark {
  width: 100%;
  height: 700px;
  margin: auto;
  margin-top: 150px;
} */

/* .carousel-item > img {
  min-height: 600px;
  max-height: 700px;
} */

/* h5 {
  color: rgb(237, 120, 11) !important;
  font-size: xx-large !important;
  font-weight: bold;
} */

a {
  text-decoration: none;
}

.list-inline-item > a, 
.icons
{
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
}

.img-product {
  max-width:550px;
}

.bi-c-pr{
  color: green !important;
}

.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}