{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
	<style>
		#maCarte {
			min-height: 50vh;
			min-width: 40vw;
		}
	</style>

 {# <div class="card-header">
            <h1 class="card-title font-weight-bold text-danger">
                {{title}}
            </h1>
        </div>
        <div class="card-body">
            {{ form(form_user) }}
        </div> #}


{% endblock %}
{% block body %}
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2 class="text-center mb-2">Contactez nous</h2>
			</div>
			<div class="card-body">
				
					<div class="container d-flex row justify-content-center align-items-center m-auto">
						<div class="contact d-flex row col-sm-6 justify-content-center align-items-center">
							<div class="form-group mt-3">
								<input type="text" class="form-control" placeholder="Nom">
							</div>
							<div class="form-group mt-3">
								<input type="text" class="form-control" placeholder="Prénom">
							</div>
							<div class="form-group mt-3">
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
							<div class="form-group mt-3">
								<input type="text-area" class="form-control" id="text-area" placeholder="votre demande">
							</div>
			
							<div class="form-group d-flex justify-content-center">
								<div class="col-auto my-4">
									<button type="submit" class="btn btn-danger col-auto ">Valider</button>
								</div>
							</div>
						</div>
						<div id="maCarte" class="col-sm-6"></div>
			
					</div>
			</div>
		</div>
	</div>
	{% block javascripts %}
		<script>
			var maCarte = L.map('maCarte').setView([43.6109200, 3.8772300
], 13);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 19,
attribution: '© OpenStreetMap'
}).addTo(maCarte);
		</script>
		<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
	{% endblock %}
{% endblock %}
