{% extends 'base.html.twig' %}

{% block title %}Astrasneaker | modifier vos informations
{% endblock %}

{% block body %}
    <div class="card mt-4">
        <div class="card-header">
            <h1 class="card-title font-weight-bold text-danger">
                {{title}}
            </h1>
        </div>
        <div class="card-body">
            {{ form(form_user) }}
        </div>
    </div>
{% endblock %}