{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
<<<<<<< HEAD
   {{ form(form_user) }}
    <form class ="d-flex justify-content-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row form-group">
=======
	<div class="card mt-4">
		<div class="card-header">
			<h1 class="card-title font-weight-bold text-danger">
				Créer un compte
			</h1>
		</div>
		<div class="card-body">
			{{ form(form_user) }}
			</div>
		</div>
>>>>>>> a0d58136812158a01c49fb76f5bfb5b6f6308973
{% endblock %}
